html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow-y: hidden;
}

canvas {
  display: block;
}

.dflex {
  display: flex;
} .dif {
  display: inline-flex;
}

.fdc {
  flex-direction: column;
} .fdr {
  flex-direction: row;
}

.jcc {
  justify-content: center;
} .jcs {
  justify-content: space-around;
}

.aic {
  align-items: center;
}

#navBar {
  position: absolute;
  width: 100%;
}

#btnTime, #btnWeather, #btnWindow {
  cursor: pointer;

  padding-top: 1%;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #fff;
}
.wTxt {
  color: #fff;
}