html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.dflex {
  display: flex;
} .dif {
  display: inline-flex;
}

.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
} .aic {
  align-items: center;
}