html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.dflex {
  display: flex;
} .dif {
  display: inline-flex;
}

.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
} .aic {
  align-items: center;
}

#btnSeason {
  padding: 2%;
  margin-bottom: 10px;

  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: #ffd500;
}